<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <listener-class>net.sf.jautoinvoice.server.ContextListener</listener-class>
    </listener> 
    <!-- <listener>
        <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>    
    </listener>
    <filter>
        <filter-name>ShiroFilter</filter-name>
        <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ShiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping> -->
    <!-- <servlet>
        <servlet-name>EntryServlet</servlet-name>
        <servlet-class>net.sf.jautoinvoice.server.JAutoInvoiceEntryServlet</servlet-class>
    </servlet> -->
    <servlet>
        <servlet-name>srvDevImpl</servlet-name>
        <servlet-class>net.sf.jautoinvoice.server.srvs.SrvDevImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvClienteImpl</servlet-name>
        <servlet-class>net.sf.jautoinvoice.server.srvs.SrvClienteImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvAuxiliarImpl</servlet-name>
        <servlet-class>net.sf.jautoinvoice.server.srvs.SrvAuxiliarImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvConfiguracaoImpl</servlet-name>
        <servlet-class>net.sf.jautoinvoice.server.srvs.SrvConfiguracaoImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvFornecedorImpl</servlet-name>
        <servlet-class>net.sf.jautoinvoice.server.srvs.SrvFornecedorImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvFuncionarioImpl</servlet-name>
        <servlet-class>net.sf.jautoinvoice.server.srvs.SrvFuncionarioImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvMaterialImpl</servlet-name>
        <servlet-class>net.sf.jautoinvoice.server.srvs.SrvMaterialImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvVeiculoImpl</servlet-name>
        <servlet-class>net.sf.jautoinvoice.server.srvs.SrvVeiculoImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>srvAuxiliarImpl</servlet-name>
        <url-pattern>/net.sf.jautoinvoice.JAutoInvoice/auxiliacar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvClienteImpl</servlet-name>
        <url-pattern>/net.sf.jautoinvoice.JAutoInvoice/cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvConfiguracaoImpl</servlet-name>
        <url-pattern>/net.sf.jautoinvoice.JAutoInvoice/configuracao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvFornecedorImpl</servlet-name>
        <url-pattern>/net.sf.jautoinvoice.JAutoInvoice/fornecedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvFuncionarioImpl</servlet-name>
        <url-pattern>/net.sf.jautoinvoice.JAutoInvoice/funcionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvMaterialImpl</servlet-name>
        <url-pattern>/net.sf.jautoinvoice.JAutoInvoice/material</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvVeiculoImpl</servlet-name>
        <url-pattern>/net.sf.jautoinvoice.JAutoInvoice/veiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvDevImpl</servlet-name>
        <url-pattern>/net.sf.jautoinvoice.JAutoInvoice/dev</url-pattern>
    </servlet-mapping>
    <!-- <servlet-mapping>
        <servlet-name>EntryServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping> -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/jauto.html</welcome-file>
    </welcome-file-list>
</web-app>
