body {
    margin: 0;
    padding: 0;
    background: #EFEFEF;
}

#content {
    padding: 10px;
    min-height: 400px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #FFFFFF;
    border: 1px solid #C9E0ED;
}

#footer {
    margin: 0 auto;
    width: 950px;
    font-size: 0.8em;
    text-align: center;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#menu li {
    list-style: none;
    display: inline-block;
    float: left;
    text-align: center;
    margin-right: .5em;
    height: 55px;
}

#titulo {
}

#titulo h2 {
    float: left;
    width: 70%;
}

h2 {
    font-weight: bold;
    text-transform: uppercase;
    color: #555;
}

#opcoes {
    float: left;
    width: 28%;
    text-align: right;
}

#opcoes img {
    vertical-align: middle;
}

.small-column {
    width: 15%;
}

.medium-column {
    width: 30%;
}

.configuracoes {
    padding: 0 0 1.5em 1.5em;
}

#creditosSMS {
    padding: 0 1em 0 1em;
    font-weight: bold;
}

.row {
    
}

.row img {
    vertical-align: middle;
}

/*div.flash-error, div.flash-notice, div.flash-success {
    padding:.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
}

div.flash-error {
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4;
}

div.flash-notice {
    background:#FFF6BF;
    color:#514721;
    border-color:#FFD324;
}

div.flash-success {
    background:#E6EFC2;
    color:#264409;
    border-color:#C6D880;
}

div.flash-error a {
    color:#8a1f11;
}

div.flash-notice a {
    color:#514721;
}

div.flash-success a {
    color:#264409;
}*/