body {
    margin: 0;
    padding: 0;
    background: #EFEFEF;
}

#content {
    padding: 10px;
    min-height: 400px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #FFFFFF;
    border: 1px solid #C9E0ED;
}

#footer {
    margin: 0 auto;
    width: 950px;
    font-size: 0.8em;
    text-align: center;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#menu {
    margin-top: .5em;
}

#menu li {
    list-style: none;
    display: inline-block;
    float: left;
    text-align: center;
    margin-right: .5em;
    height: 55px;
}

#titulo {
}

#titulo h2 {
    float: left;
    width: 70%;
}

h2 {
    font-weight: bold;
    text-transform: uppercase;
    color: #555;
}

#opcoes {
    float: left;
    width: 28%;
    text-align: right;
}

#opcoes img {
    vertical-align: middle;
}

.small-column {
    width: 15%;
}

.medium-column {
    width: 30%;
}

.configuracoes {
    padding: 0 0 1.5em 1.5em;
}

#creditosSMS {
    padding: 0 1em 0 1em;
    font-weight: bold;
}

.info {
    font-size: smaller;
    color: #777;
    font-style: italic;
}