fieldset {
    border: 1px solid #777;
    padding-left: 1em; 
}

legend {
    padding: 0 .5em 0 .5em;
}

label {
    display: block;
    float: left;
    width: 150px;
}

input, select, textarea {
    border: solid 1px #CCC;
}

span.required {
    color: #F00;
}

.errorMessage {
    display: inline;
    margin-left: .5em;
    color: red;
}

.row {
    margin: 1em 0;
}

.row img {
    vertical-align: middle;
}

.small-field {
    width: 5em;
}

.medium-field {
    width: 25em;
}

.long-field {
    width: 50em;
}